<div class="content">
    <div class="content-list">
        <div class="content-title">
            <div class="toggle-checkbox">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1" class="track">
                    <span class="icon"></span>
                </label>
            </div>
            <h3><span class="fa fa-hospital-o gary"></span>时尚女鞋正品店 <span class="fa fa-angle-right"></span></h3>
            <em>领卷</em>
        </div>
        <dl class="list">
            <div class="toggle-checkbox">
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2" class="track">
                    <span class="icon"></span>
                </label>
            </div>
            <dt><img ng-src="Content/images/img_01.jpg" alt="img"></dt>
            <dd>
                <p>真皮雪地靴女短筒韩版百搭学生中筒女靴冬季保暖加绒男女短...</p>
                <p class="price">灰色[5854短筒];37</p>
                <p class="pirc"><span>￥69</span> <em>￥128</em></p>
            </dd>
            <div class="add">
                <span class="plus">+</span><input type="text" value="1"><span class="reduce">-</span>
            </div>
        </dl>
        <dl class="list">
            <div class="toggle-checkbox">
                <input type="checkbox" id="checkbox3">
                <label for="checkbox3" class="track">
                    <span class="icon"></span>
                </label>
            </div>
            <dt><img ng-src="Content/images/img_02.jpg" alt="img"></dt>
            <dd>
                <p>雪地靴女 冬季真皮男女学生雪地棉鞋中筒女靴2017棉鞋秋冬...</p>
                <p class="price">54巧色[短靴];37</p>
                <p class="pirc"><span>￥80</span> <em>￥125</em></p>
            </dd>
            <div class="add">
                <span class="plus">+</span><input type="text" value="1"><span class="reduce">-</span>
            </div>
        </dl>
    </div>
    <div class="content-list">
        <div class="content-title">
            <div class="toggle-checkbox">
                <input type="checkbox" id="checkbox4">
                <label for="checkbox4" class="track">
                    <span class="icon"></span>
                </label>
            </div>
            <h3><span class="fa fa-hospital-o red"></span>qnzy 旗舰店 <span class="fa fa-angle-right"></span></h3>
            <em>领卷</em>
        </div>
        <dl class="list">
            <div class="toggle-checkbox">
                <input type="checkbox" id="checkbox5">
                <label for="checkbox5" class="track">
                    <span class="icon"></span>
                </label>
            </div>
            <dt><img ng-src="Content/images/img_03.jpg" alt="img"></dt>
            <dd>
                <p>QNZY雪地靴女短靴冬季短靴真皮靴子平底学生加绒加厚情侣...</p>
                <p class="price">灰色;37</p>
                <p class="pirc"><span>￥79</span> <em>￥198</em></p>
            </dd>
            <div class="add">
                <span class="plus">+</span><input type="text" value="1"><span class="reduce">-</span>
            </div>
        </dl>
    </div>
</div>
<div class="combined">
    <div class="toggle-checkbox">
        <input type="checkbox" id="checkbox6">
        <label for="checkbox6" class="track">
            <span class="icon"></span>
        </label>
    </div>
    <span class="all">全选</span>
    <span class="com">合计：<em>￥0</em></span>
    <span class="set">结算 (<strong>0</strong>)</span>
</div>